$purpleSelect: #77388E;
$defaultSelect:  #D3E6E5;
$activeSelect: #AAD0CE;
$disabledSelect: #989898;
$validationSelect: #E295A2;
$errorMessage: #DD5168;
$boxShadow:  0px 2px 5px grey;
$breakpoint-tablet: 768px;